In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import requests
import time

In [2]:
df = pd.read_csv('GrandMaster_Player_Info.csv')

In [5]:
df = df.drop(columns='Unnamed: 0')

In [53]:
df2 = pd.DataFrame(columns=['Lane', 'GameID', 'Champion'])

In [36]:
all_matches = []

In [62]:
api_key = 'RGAPI-95e9ef81-91da-4bff-84ab-ec17442a2e1e'
counter = 0
lanes = []
gameids = []
champions = []
for accounts in df['Account_ID']:
    url = 'https://na1.api.riotgames.com/lol/match/v4/matchlists/by-account/' + accounts +'?endIndex=5&api_key=' + api_key
    response = requests.get(url)
    for num in range(0,5):
        try:
            lanes.append(response.json()['matches'][num]['lane'])
            gameids.append(response.json()['matches'][num]['gameId'])
            champions.append(response.json()['matches'][num]['champion'])
        except:
            pass
    counter +=1
    if counter == 100:
        print('reached limit - time to sleep')
        time.sleep(120)
        counter = 0

reached limit - time to sleep
reached limit - time to sleep
reached limit - time to sleep
reached limit - time to sleep
reached limit - time to sleep
reached limit - time to sleep
reached limit - time to sleep

In [66]:
df2['Lane'] = lanes
df2['Champion'] = champions
df2['GameID'] = gameids

In [68]:
df2.to_csv('MatchID_Data.csv')

In [71]:
Mid_lane_games = df2[df2['Lane'] == 'MID']

In [80]:
most_played_champs = Mid_lane_games.groupby('Champion').count().sort_values('Lane', ascending = False)

In [82]:
most_played_champs.head()

          Lane  GameID
Champion
238         49      49
7           22      22
142         21      21
157         19      19
84          18      18

In [99]:
print(Mid_lane_games[Mid_lane_games.index == 1])
print(Mid_lane_games[Mid_lane_games.index == 3460])
print(Mid_lane_games[Mid_lane_games.index == 46])
print(Mid_lane_games[Mid_lane_games.index == 95])
print(Mid_lane_games[Mid_lane_games.index == 478])

  Lane      GameID  Champion
1  MID  3015886743       142
     Lane      GameID  Champion
3460  MID  3014270362       238
   Lane      GameID  Champion
46  MID  3015729263         7
   Lane      GameID  Champion
95  MID  3011254514       157
    Lane      GameID  Champion
478  MID  3013920310        84

In [100]:
Mid_lane_games.head()

  Lane      GameID  Champion
0  MID  3015928183       142
1  MID  3015886743       142
3  MID  3015846686        38
6  MID  3015739551        45
7  MID  3015750507        82